body,html{
  height: 100%;
}
.header{
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}

.menu{
  background-color: #ecdbe4;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
.menu a{
  color: #ffffff;
  padding: 10px;
  padding-inline: 20px;
  background-color: #c898b4;
  text-align: center;
  text-decoration: none;
}
.content
{
  background-color: #9c9898;
  position: relative;
  justify-content: center;
  text-align: center;
  height: 100vh;

}


.footer{
  background-color: #ecdbe4;
  text-align: center;
  padding: 10px;
}

