<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="port" value="5000"/>
        <add key="ip" value="127.0.0.1"/>
    </appSettings>
    <connectionStrings>
        <clear />
        <add name="festival"  providerName="System.Data.SQLite"  connectionString="Data Source=file:C:/An2/Sem4/MPP/lab8cs/Client/festival.db" />
    </connectionStrings>


</configuration>